body{
    font-family: sans-serif;
    background-color: antiquewhite;
}

.horizontalMenu{

    list-style: none;
    padding: 0;
    margin: 0;
    background:black;
    line-height: 50px;
}

.color{

    width: 100px;
    display: inline-block;
    text-align: center;
}

.cambio{
    text-decoration: none;
    display: block;
    color:white;
}

.cambio:hover{
    background:darkred;
    color:black;
}

