.header{
  padding: 10px;
  text-align: center;
  background-color: brown;
}
div h1{
  color: whitesmoke;
  font-size: 40px;
  font-family: cursive;
  width: 100%;
  text-transform: uppercase;
  border-style:solid;
  border-radius: 2em;
  border-color: cyan;
  
}
.imagenes{
  margin: 1em;
  padding: 1em;
  text-align: center;
  background-position: center;
  border-style:dotted;
  background-color: brown;
  display: auto;
}

  .column-1 {
    width: auto;
  }
  .column-2 {
    float: right;
    width: 300px;
  }

  
  /* Clear floats after the columns */
  .content:after {
    content: "";
    display: table;
    clear: both;
  }