*{
  box-sizing: border-box;
}
.Header-Indice{
  padding: 10px;
  border-radius: 4%;
  background-image: url(../imagenes/indice/anime-asthetic.gif);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position:center;
  width: 100%;
}
.LetraIndice{
  text-align: center;
  flex: content;
  font-family: cursive;
  font-size: 30px;
  color: antiquewhite;
  font-style: italic;
  font-variant: small-caps;
  text-shadow: 6px 6px 6px red;
}
.GeneralIndice{
  width: 100%;
  background-color: transparent;
  margin: auto;
  padding: 0em;
}
.IndiceImagenes{
  margin: 1em;
  padding: 1em;
  text-align: center;
  background-position: center;
  border-style:double;
  background-color: brown;
  width: 100%;
}
.column-1 {
  width: 85%;
  float: left;
  background-color: transparent;
  flex: auto;
  margin: auto;
}
nav .column-2 {
  float: right; 
  background-color: transparent;
  width: 14%;
  flex: content;
  margin-top: 1em;
}